includes:
    - phpstan-baseline.neon

parameters:
    level: 8
    paths:
        - src
    excludePaths:
        - src/Kernel.php
    tmpDir: var/cache/phpstan
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false
