parameters:
	ignoreErrors:
		-
			message: '#^Class App\\Invoice\\Infrastructure\\ApiPlatform\\State\\CancelInvoiceProcessor implements generic interface ApiPlatform\\State\\ProcessorInterface but does not specify its types\: T1, T2$#'
			identifier: missingType.generics
			count: 1
			path: src/Invoice/Infrastructure/ApiPlatform/State/CancelInvoiceProcessor.php

		-
			message: '#^Class App\\Invoice\\Infrastructure\\ApiPlatform\\State\\CreateInvoiceProcessor implements generic interface ApiPlatform\\State\\ProcessorInterface but does not specify its types\: T1, T2$#'
			identifier: missingType.generics
			count: 1
			path: src/Invoice/Infrastructure/ApiPlatform/State/CreateInvoiceProcessor.php

		-
			message: '#^Class App\\Invoice\\Infrastructure\\ApiPlatform\\State\\InvoicePdfProvider implements generic interface ApiPlatform\\State\\ProviderInterface but does not specify its types\: T$#'
			identifier: missingType.generics
			count: 1
			path: src/Invoice/Infrastructure/ApiPlatform/State/InvoicePdfProvider.php

		-
			message: '#^Class App\\Invoice\\Infrastructure\\ApiPlatform\\State\\IssueInvoiceProcessor implements generic interface ApiPlatform\\State\\ProcessorInterface but does not specify its types\: T1, T2$#'
			identifier: missingType.generics
			count: 1
			path: src/Invoice/Infrastructure/ApiPlatform/State/IssueInvoiceProcessor.php

		-
			message: '#^Class App\\Invoice\\Infrastructure\\ApiPlatform\\State\\MarkInvoicePaidProcessor implements generic interface ApiPlatform\\State\\ProcessorInterface but does not specify its types\: T1, T2$#'
			identifier: missingType.generics
			count: 1
			path: src/Invoice/Infrastructure/ApiPlatform/State/MarkInvoicePaidProcessor.php
