<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         executionOrder="random">
    <extensions>
        <bootstrap class="DAMA\DoctrineTestBundle\PHPUnit\PHPUnitExtension"/>
    </extensions>
    <php>
        <ini name="display_errors" value="1"/>
        <ini name="error_reporting" value="-1"/>
        <server name="APP_ENV" value="test" force="true"/>
        <server name="APP_DEBUG" value="1" force="true"/>
        <server name="KERNEL_CLASS" value="App\Kernel"/>
        <server name="SHELL_VERBOSITY" value="-1"/>
        <env name="DEFAULT_TENANT_ID" value="00000000-0000-4000-8000-000000000001"/>
    </php>

    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>tests/Integration</directory>
        </testsuite>
        <testsuite name="Functional">
            <directory>tests/Functional</directory>
        </testsuite>
        <testsuite name="Contract">
            <directory>tests/Contract</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <exclude>
            <directory>src/*/Infrastructure/Persistence/Doctrine/Migrations</directory>
            <directory>src/DataFixtures</directory>
            <file>src/Kernel.php</file>
            <file>src/Schedule.php</file>
            <file>src/Payment/Infrastructure/Command/Test2CheckoutIntegrationCommand.php</file>
            <file>src/Payment/Infrastructure/Command/TestPayPalIntegrationCommand.php</file>
            <file>src/Payment/Infrastructure/Command/TestStripeIntegrationCommand.php</file>
            <file>src/Shared/Infrastructure/Command/TestTranslatableCommand.php</file>
            <file>src/Tenant/Infrastructure/Command/DemoTranslatableTenantCommand.php</file>
            <file>src/Tenant/Infrastructure/Command/SimpleDemoTranslatableCommand.php</file>
            <file>src/Catalog/Infrastructure/Command/BackfillJsonbTranslationsCommand.php</file>
            <file>src/Payment/Infrastructure/Gateway/PayPalClient.php</file>
        </exclude>
    </source>
</phpunit>
